.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 8px;

  strong {
    color: #333;
  }
}

.event-image {
  width: 100%;
  max-width: 500px; // Limita el ancho máximo de la imagen
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .btn {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.btn-success {
      background-color: #28a745;
      color: #fff;

      &:hover {
        background-color: #218838;
      }
    }

    &.btn-danger {
      background-color: #dc3545;
      color: #fff;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
