.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Ajusta el minmax según lo que necesites */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 30px;
  }
  
  .event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; /* Se elimina el margen para evitar doble espacio */
  }
  
  .event-card__image {
    width: 100%;
    height: 150px; /* Ajusta la altura para mantener consistencia */
    object-fit: cover; /* Para que la imagen se ajuste sin deformarse */
  }
  
  .event-card__content {
    padding: 15px;
  }
  
  .event-card__title {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente si es necesario */
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
  }
  
  .event-card__details-button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .event-card__details-button:hover {
    background-color: #0055a3;
  }
  