.layout {
    &__logo {
      width: 300px;
      height: auto;
      margin-bottom: 0;
      margin-left: 30px;
      cursor: pointer; // Cambia el cursor a pointer
    }
  
    &__page {
      padding: 20px;
      background-color: #f9f9f9;
    }
  }
  
  .header-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    gap: 20px;
  
    .search-bar {
      flex-grow: 1;
      max-width: 400px;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 20px;
      font-size: 16px;
      transition: all 0.3s ease;
  
      &:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.3);
      }
    }
  
    .button-group {
      display: flex;
      gap: 15px;
    }
  }
  
  // Estilos para los botones
  .contact-button,
  .login-button {
    padding: 12px 24px; // Aumentar el padding para mayor tamaño
    border: none;
    border-radius: 25px; // Hacer los bordes un poco más redondeados
    cursor: pointer;
    color: #fff;
    background-color: #007bff; // Color de fondo
    font-size: 16px; // Aumentar el tamaño de fuente
    font-weight: bold; // Hacer la fuente más destacada
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; // Añadir transiciones suaves
  
    &:hover {
      background-color: #0056b3; // Color más oscuro al pasar el ratón
      transform: translateY(-2px); // Efecto de desplazamiento hacia arriba
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); // Sombra más intensa al pasar el ratón
    }
  
    &:active {
      transform: translateY(0); // Resetear el desplazamiento al hacer clic
      box-shadow: none; // Eliminar la sombra al hacer clic
    }
  }

  .filter-button {
    padding: 12px 24px; // Ajusta el padding según sea necesario
    border: none;
    border-radius: 25px; // Bordes redondeados
    cursor: pointer;
    color: #fff;
    background-color: #28a745; // Color verde para el botón
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  
    &:hover {
      background-color: #218838; // Color más oscuro al pasar el ratón
      transform: translateY(-2px);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }
  
    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
  
  