.layout__logo {
  width: 300px; /* Ajusta este valor según tus necesidades */
  height: auto; /* Mantiene la proporción original */
  margin-bottom: 0px; /* Espacio debajo del logo */
  margin-left: 30px; 
  cursor: pointer; /* Agrega un cursor de mano para indicar que es un enlace */
}
