.layout__logo {
  width: 300px; /* Ajusta este valor según tus necesidades */
  height: auto; /* Mantiene la proporción original */
  margin-bottom: 0px; /* Espacio debajo del logo */
  margin-left: 30px; 
  cursor: pointer; /* Agrega un cursor de mano para indicar que es un enlace */
}

.layout__white-section {
  background-color: white; /* Color de fondo blanco */
  padding: 20px; /* Espacio interno, ajusta según sea necesario */
  margin: 20px; /* Espacio externo, ajusta según sea necesario */
  border-radius: 8px; /* Esquinas redondeadas opcionales */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para profundidad */
}
